<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Framework Guru example</title>
</head>
<body>

<h1>Book list</h1>
<hr/>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Publisher</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}">123</td>
        <td th:text="${book.title}">Some book</td>
        <td th:text="${book.publisher.name}">Some publisher</td>
    </tr>
    </tbody>
</table>

</body>
</html>